<p style="color: green"><%= notice %></p>

<h1>Ianimals</h1>

<div id="ianimals">
  <% @ianimals.each do |ianimal| %>
    <%= render ianimal %>
    <p>
      <%= link_to "Show this ianimal", ianimal %>
    </p>
  <% end %>
</div>

<%= link_to "New ianimal", new_pokemon_path %>
